#header {
    background-color:turquoise;
    color:white;
    text-align:center;
    padding:5px;
}
#basic {
    line-height:30px;
    background-color:#eeeeee;
    /* height:300px; */
    width:250px;
    float:left;
    /* padding:5px;  */
}
#basictext{
    line-height: 30px;
    padding-left: 20px;
    
}
#contents {
    width:700px;
    float:left;
    /* padding:10px;  */
    padding-left: 20px;
    text-align:justify;
}
#footer {
    background-color:turquoise;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}